{% extends "base.html" %}

{% block content %}

    <h3>Testing base <span class="label label-default">Hello!</span></h3>
    <p>smth to present</p>
    <button class="btn btn-primary" type="button">
      Messages <span class="badge">4</span>
    </button>
        <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://youtu.be/VG5JIZ6WVWk"></iframe>
    </div>
{% endblock content%}
