{% extends "base.html" %}
    {% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-left login-title">Welcome to neural art</h1>
            <div class="account-wall">
                <form class="form-signin" action="/check_user">
                <input type="text" name="Email" class="form-control" placeholder="Email" required autofocus>
                <input type="password" name="Password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Login
                </button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
    {% endblock content %}