{% extends "base.html" %}

{% block content %}
    </form>
        <ul class="list-group">
      <li class="list-group-item" >
          <span class="badge" id="task">{{  task_id }}</span>
        Task id
      </li>
      <li class="list-group-item">
        <span class="badge" id="state"> {{ state }}</span>
          State
      </li>
      <li class="list-group-item">
        <span class="badge" id="iteration"> {{ iteration }}</span>
        Iteration
      </li>
      <li class="list-group-item">Output
          <span class="badge">{{ output }}</span>
      </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var state = "{{ state }}"
            if (state === 'SUCCESS') {
                $('#dow_but').show()
            } else {
                $('#dow_but').hide()
            }
        });
    </script>

    <form method="get" action="/download/{{ task_id }}/{{ output }}">
        <button id="dow_but" type="submit" class="btn btn-success">Download</button>




    <script>
    $(document).ready(function () {
        setInterval(function() {
            $.getJSON("/ajax_status/{{ image_id }}/{{ task_id }}", function(data) {
                $("#task").text(data.task_id);
                $("#state").text(data.state);
                $("#iteration").text(data.iteration);
                if (data.state === 'SUCCESS') {
                    clearInterval();
                    $('#dow_but').show();
                } else {
                    $('#dow_but').hide();
                }
            });
        }, 1000);
    });

    </script>

{% endblock content %}