{% extends "base.html" %}



{% block content %}
<div>
<form action="/create_new" enctype="multipart/form-data"
method="post"> {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Iterations</span>
        <input type="text" class="form-control" placeholder="Iterations" name="iter" aria-describedby="basic-addon1">
    </div>
    <label class="control-label">Select File</label>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Image</span>
        <input name="file_img" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
      </span>
      <span class="form-control"></span>
    </div>
    <p></p>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Style</span>
        <input name="file_style" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
      </span>
      <span class="form-control"></span>
    </div>
    <p></p>
    <input type="submit" value="Upload..">



</form>
</div>
{% endblock content %}

