<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% extends "bootstrap/base.html" %} {% block title %}Neural{% endblock %}
    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button"><span class=
                "sr-only">Toggle navigation</span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span></button> <a class="navbar-brand" href=
                "/">Neural</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>{% endblock %} {% block content %}
    <div class="container">
        {% block page_content %}
        <div aria-label="..." class="btn-group" role="group">
            <button class="btn btn-default" type="button">Left</button>
            <button class="btn btn-default" type="button">Middle</button>
        </div>
        <form action="/api/v1.0/image/new/" enctype="multipart/form-data"
        method="post">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">@</span>
                <input aria-describedby="sizing-addon3" class="form-control"
                placeholder="Iterations" type="text"> <input class=
                "form-control" name="file_img" type="file"> <input class=
                "form-control" name="file_style" type="file">
            </div><span><input id='${multipartFilePath}' name=
            '${multipartFilePath}' onchange=
            "$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"
            style="visibility:hidden; width: 1px;" type="file"> 
            <!-- Chrome security returns 'C:\fakepath\'  -->
             <input class="btn btn-primary" onclick=
            "$(this).parent().find('input[type=file]').click();" type="button"
            value="Style">
            <!-- on button click fire the file click event -->
             &nbsp; <span class="badge badge-important"></span></span>
            <span><input id='${multipartFilePath}' name='${multipartFilePath}'
            onchange=
            "$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"
            style="visibility:hidden; width: 1px;" type="file"> 
            <!-- Chrome security returns 'C:\fakepath\'  -->
             <input class="btn btn-primary" onclick=
            "$(this).parent().find('input[type=file]').click();" type="button"
            value="Image">
            <!-- on button click fire the file click event -->
             &nbsp; <span class="badge badge-important"></span></span>
            <p></p>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>{% endblock %}
    </div>{% endblock %}
</body>
</html>